<div id="experiences-section">
    <a id="experience-id"></a>
    <p id="experiences-section-title">Où j'ai travaillé</p>
    <p id="experiences-section-subtitle"></p>
    <hr class="experiences-section-divider" />


    <div class="experiences-item-section" *ngFor="let experience of user.experiences">
        <div class="experiences-item-header">
            <span class="experiences-item-header-number">{{experience.order}}.</span>  <span class="experiences-item-header-content">{{experience.companyName}}</span>
        </div>
        <div class="row">
            
            <img class="col-sm-12 col-md-12 col-lg-3 col-xl-3 experiences-item-image" [src]=" 'presentation/assets/experiences/' + experience.companyImageUrl" [alt]="experience.companyName" />
    
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 experiences-item-content">
                <div>
                    <span>{{experience.title}}</span>
                    <span id="experiences-content-job-spacer">@</span>
                    <span>
                        <a id="experiences-content-job-title" [href]="experience.companyLink" target="_blank">{{experience.companyName}}</a>
                    </span>
                </div>

                <div id="experience-date-section">
                    <span>{{experience.startDate}}</span>
                    <span class="spacer-date">-</span>
                    <span *ngIf="experience.isCurrentlyWorking">Present</span>
                    <span *ngIf="!experience.isCurrentlyWorking">{{experience.startEnd}}</span>
                </div>

                <ul class="experience-tasks-section">
                    <li class="experience-tasks-item" *ngFor="let task of experience.tasks">
                        {{task.text}}
                    </li>
                </ul>

                <div class="skill-section">
                    <span class="skill-label">Skills:</span>
                    <span class="skill-content" *ngFor="let skill of experience.skills">{{skill.label}}</span>
                </div>
            </div>
        </div>
    </div>
</div>