<div id="contacts-section">
    <a id="experience-id"></a>
    <p id="contacts-section-title">Comment me contacter</p>
    <p id="contacts-section-subtitle">Une question ou un commentaire ? Utilisez les coordonnées ci-dessous pour nous contacter :</p>
    <hr class="contacts-section-divider" />

    <div class="row contacts-container">
        
        <form class="col-sm-12 col-md-8 col-lg-8 col-xl-10 form-section" action="">
            <div class="form-inline row">

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 form-group">
                        <label 
                            class="label-input-blk"
                            for="name">
                            Name
                        </label>
                        <input 
                            class="form-control input-blk"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Entrez votre nom"
                            required />  
                </div>  

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 form-group">
                    <label 
                        class="label-input-blk input-blk"
                        for="email">
                        Email
                    </label>
                    <input 
                        class="form-control"
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Entrez votre email"
                        required />  
            </div>   
            </div>
            
            <div class="row" style="margin-top: 25px">

                <div class="col form-group">
                    <label 
                        class="label-input-blk"
                        for="email">
                        Message
                    </label>

                    <textarea 
                        class="form-control"
                        rows="5"
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Entrez votre email"
                        required>
                    </textarea>  
            </div>   
            </div>

            <div class="row" style="margin-top: 25px; margin-left: 0.5%; margin-right: 0.5%">
                <button class="col-sm-12 col-md-12 col-lg-12 col-xl-12 btn-submit">
                    Contactez moi !
                </button>
            </div>
        </form>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2 contacts-item-container">
            
            <div class="contacts-item-section" *ngFor="let socialMedia of user.socialMedias">
                <p class="contact-item-header" *ngIf="socialMedia.isActive">
                    {{socialMedia.label}}
                </p>
                <a class="contact-item-content" [href]="socialMedia.link" target="_blank">{{socialMedia.content}}</a>
            </div>

            <p class="contact-item-header">
                Numéro de téléphone
            </p>
            <div class="contacts-item-section" *ngFor="let phone of user.phones">
                <a class="contact-item-content" [href]=" 'tel:' + phone" target="_blank">{{phone}}</a>
            </div>
        </div>
    </div>
</div>