<div id="menu" class="row">

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <img id="logo" src="presentation/assets/logo.png" />
        <span class="menu-text">{{user.email}}</span>
        <img id="light-mode" src="presentation/assets/light-mode.png" />
    </div>

    <div class="row col-sm-12 col-md-12 col-lg-6 col-xl-6 menu-navbar">
        <span class="col-sm-6 col-md-6 col-lg-6 col-xl-2 menu-item"  *ngFor="let menu of user.menus.sort(compare)">
            <span class="menu-item-prefix">{{menu.order}}.</span>
            <a class="menu-item-text" [routerLink]=" '/' + menu.link">{{menu.label}}</a>
        </span>
    </div>
</div>
